In [ ]:
import numpy as np
import pandas as pd
from google.colab import drive

In [ ]:
prefix = '/content/drive'
from google.colab import drive
drive.mount(prefix, force_remount=True)

Mounted at /content/drive

In [ ]:
file_path = '/content/drive/MyDrive/CSSI Notes /Hotelsss.csv'
hotels = pd.read_csv(file_path)
hotels.head()

,name,continent,city,country,price,rating,free_wifi,free_parking,pool,spa,beach,restaurant,fitness_center,bar_lounge,room_service
0,"Shangri-La Hotel, Beijing",Asia,Beijing,China,156.666667,5.0,1,1,0,0,0,0,0,0,0
1,InterContinental Beijing Sanlitun,Asia,Beijing,China,NaN,5.0,1,0,1,0,0,0,0,0,0
2,Holiday Inn Express Beijing Yizhuang,Asia,Beijing,China,68.000000,5.0,1,1,0,0,0,0,0,0,0
3,"Shangri-La China World Summit Wing, Beijing",Asia,Beijing,China,NaN,5.0,1,0,1,0,0,0,0,0,0
4,Kerry Hotel Beijing,Asia,Beijing,China,NaN,5.0,1,0,1,0,0,0,0,0,0

In [ ]:
hotels.count

<bound method DataFrame.count of                                               name      continent       city  \
0                        Shangri-La Hotel, Beijing           Asia  Beijing
1                InterContinental Beijing Sanlitun           Asia  Beijing
2             Holiday Inn Express Beijing Yizhuang           Asia  Beijing
3      Shangri-La China World Summit Wing, Beijing           Asia  Beijing
4                              Kerry Hotel Beijing           Asia  Beijing
...                                            ...            ...        ...
59702                            The Bright Resort  South Pacific   Bright
59703                        Bogong View Motor Inn  South Pacific   Bright
59704                        Autumn Abode Cottages  South Pacific   Bright
59705                                 The Odd Frog  South Pacific   Bright
59706                      View Hill Holiday Units  South Pacific   Bright

           country       price  rating  free_wifi  free_parking  pool  spa  \
0          China    156.666667     5.0          1             1     0    0
1          China           NaN     5.0          1             0     1    0
2          China     68.000000     5.0          1             1     0    0
3          China           NaN     5.0          1             0     1    0
4          China           NaN     5.0          1             0     1    0
...            ...         ...     ...        ...           ...   ...  ...
59702  Australia           NaN     4.5          0             1     1    0
59703  Australia           NaN     4.0          1             1     0    0
59704  Australia           NaN     4.5          0             1     0    0
59705  Australia           NaN     4.0          0             1     0    0
59706  Australia           NaN     4.5          0             1     0    0

       beach  restaurant  fitness_center  bar_lounge  room_service
0          0           0               0           0             0
1          0           0               0           0             0
2          0           0               0           0             0
3          0           0               0           0             0
4          0           0               0           0             0
...      ...         ...             ...         ...           ...
59702      0           0               0           0             0
59703      0           0               0           0             0
59704      0           0               0           0             0
59705      0           0               0           0             0
59706      0           0               0           0             0

[59707 rows x 15 columns]>

In [ ]:
missing_hotels = hotels['price'].isna()
missing_hotels.head()

0    False
1     True
2    False
3     True
4     True
Name: price, dtype: bool

In [ ]:
cleaned_hotels = hotels.loc[(~missing_hotels).values, :]

In [ ]:
cleaned_hotels['price'] = cleaned_hotels['price'].round(2)

<ipython-input-36-d926ea4489cf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_hotels['price'] = cleaned_hotels['price'].round(2)

In [ ]:
cleaned_hotels.head()

,name,continent,city,country,price,rating,free_wifi,free_parking,pool,spa,beach,restaurant,fitness_center,bar_lounge,room_service
0,"Shangri-La Hotel, Beijing",Asia,Beijing,China,156.67,5.0,1,1,0,0,0,0,0,0,0
2,Holiday Inn Express Beijing Yizhuang,Asia,Beijing,China,68.00,5.0,1,1,0,0,0,0,0,0,0
30,Kerry Hotel Pudong Shanghai,Asia,Shanghai,China,147.00,5.0,1,0,0,0,0,0,0,0,0
31,"Jing An Shangri-La, West Shanghai",Asia,Shanghai,China,218.00,5.0,1,0,1,0,0,0,0,0,0
32,The Middle House Shanghai,Asia,Shanghai,China,232.00,5.0,1,0,1,0,0,0,0,0,0

In [ ]:
cleaned_hotels.count

<bound method DataFrame.count of                                        name      continent          city  \
0                 Shangri-La Hotel, Beijing           Asia     Beijing
2      Holiday Inn Express Beijing Yizhuang           Asia     Beijing
30              Kerry Hotel Pudong Shanghai           Asia    Shanghai
31        Jing An Shangri-La, West Shanghai           Asia    Shanghai
32                The Middle House Shanghai           Asia    Shanghai
...                                     ...            ...           ...
59604       S & C Hotel Suites & Apartments  South Pacific       Koror
59625                       Sandpiper Motel  South Pacific  Apollo Bay
59626      Beachcomber Motel and Apartments  South Pacific  Apollo Bay
59628                         Coastal Motel  South Pacific  Apollo Bay
59630                          Casa Favilla  South Pacific  Apollo Bay

           country   price  rating  free_wifi  free_parking  pool  spa  beach  \
0          China    156.67     5.0          1             1     0    0      0
2          China     68.00     5.0          1             1     0    0      0
30         China    147.00     5.0          1             0     0    0      0
31         China    218.00     5.0          1             0     1    0      0
32         China    232.00     5.0          1             0     1    0      0
...            ...     ...     ...        ...           ...   ...  ...    ...
59604      Palau    102.00     4.0          1             1     0    0      0
59625  Australia    148.00     4.5          1             1     0    0      0
59626  Australia     94.00     4.5          1             1     0    0      0
59628  Australia    192.50     4.0          1             1     0    0      0
59630  Australia    126.50     4.0          1             1     0    0      0

       restaurant  fitness_center  bar_lounge  room_service
0               0               0           0             0
2               0               0           0             0
30              0               0           0             0
31              0               0           0             0
32              0               0           0             0
...           ...             ...         ...           ...
59604           0               0           0             0
59625           0               0           0             0
59626           0               0           0             0
59628           0               0           0             0
59630           0               0           0             0

[13042 rows x 15 columns]>

In [ ]:
country_continent = cleaned_hotels[['continent', 'country']]
country_continent = country_continent.drop_duplicates()
country_continent

           continent             country
0               Asia             China
90              Asia       Philippines
244             Asia           Vietnam
274             Asia          Thailand
306             Asia             India
...              ...                 ...
57985  South Pacific   Mariana Islands
58092  South Pacific           Vanuatu
58161  South Pacific             Samoa
58555  South Pacific  French Polynesia
59586  South Pacific             Palau

[100 rows x 2 columns]

In [ ]:
country_continent.to_csv("country_continent_data.csv", index=True)
cleaned_hotels.to_csv("cleaned_hotels_data.csv", index=True)

In [ ]:
from google.colab import files
files.download('cleaned_hotels_data.csv') 
files.download("country_continent_data.csv")